body {
    margin: 0;
    font-family: Futura, "Trebuchet MS", "Lucida Sans", sans-serif;
}
h1, .error {
    display: none;
}
.error {
    background-color: #600;
    color: white;
    padding: 5px;
    border-bottom: 1px solid #333;
}
.error a { 
    color: white;
    font-weight: bold;
}
canvas {
    position: absolute;
}
.scoreboard {
    position: absolute;
    z-index: 2;
    color: white;
    right: 10px;
    text-align: right;
    font-size: 150%;
}
.scoreboard p { 
    font-size: 120%;
}
